#memberpageLayout{
		
	}
#memberpageLeft{
		padding: 5px;
		height:500px;
		width:200px;
		float : left;
	}
#memberpageMain{
		padding: 5px;
		width:700px;
		height: auto;		
		float: left; /* left로 부유위치를 지정해 left와 main이 수평 배치하도록 한다    */
	}